@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  max-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 16vw;

  @media screen and (max-width: 1300px) {
    padding: 5vh 10vw;
  }

  @media screen and (max-width: 1100px) {
    padding: 5vh 10vw;
    &__logo-image {
      margin-right: 100px;
    }
  }

  &__logo-image {
    height: 15vh;
  }

  &__menu-item a:hover {
    color: black;
    i {
      color: black;
    }
  }

  &__menu-item i {
    color: rgb(119,119,119);
    margin-right: 3px;
  }

  &__menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & .middle-items::before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      position: relative;
      bottom: 3px;
      right: 8px;
      background-color: rgb(119,119,119);
    }

    & a {
      font-size: 16px;
      text-decoration: none;
      color: rgb(119,119,119);
      transition: all 0.4s ease;
    }
  }
}

